@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/font' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use "../../styles/partials/mixin" as *;

// .cookies__all {
//     display: flex;
//   position: relative;
//   width: 400px; 
//   height: 400px;
//   margin: 0 auto;
// }

// .fortune-cookie__image {
//   position: absolute;
//   width: 50px;
//   height: 50px; 
//   cursor: pointer;
//   transform-origin: center center;
//   &:hover {
//     transform: scale(1.2);
//   }
// }

.cookies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.default-cookie-container,
.daily-cookie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

flex: 1;
}