@use '../../styles/partials/variables' as *;
@use "../../styles/partials/mixin" as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/font' as *;
@use '../../styles/partials/typography' as *;



.input__container.username, .input__container.confirm-password {
  display: block; 
}
.username,
.confirm-password {
  display: block;
}
.email,
.password {
  display: block;
}
.confirm-password,
.username {
  display: none;
}

.auth {
  &__container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  &__title {
    text-align: center;
  }
  &__username{
    background-image: url("../../assets/icons/face.svg");
  }
  &__email{
    background-image: url("../../assets/icons/email.svg");
  }
  &__password{
    background-image: url("../../assets/icons/lock.svg");
  }
  &__input {
    padding: 1rem 1rem 1rem 4rem;
  }
  &__card {
    background-color: var(--color-bg);

    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: clamp(28rem, 19.429rem + 42.857vw, 40rem);
    padding: 30px;
 
    .signup-or-login__link {
        margin-top: 20px;
        a {
        &:hover {
            text-decoration: underline;
        }
        }
    }
  }
  &__header {
    margin-bottom: 2rem;
    &--logo {
      margin-bottom: 2rem;
    }
  }
}