@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/font' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


.input__container.username, .input__container.confirm-password {
  display: block; 
}
.username,
.confirm-password {
  display: block;
}
.email,
.password {
  display: block;
}
.confirm-password,
.username {
  display: none;
}

.auth {
  &__container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  &__username{
    background-image: url("../../assets/icons/face.svg");
  }
  &__email{
    background-image: url("../../assets/icons/email.svg");
  }
  &__password{
    background-image: url("../../assets/icons/lock.svg");
  }
  &__input {
    padding: 1rem 1rem 1rem 4rem;
  }
  &__card {
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: clamp(28rem, 19.429rem + 42.857vw, 40rem);
    padding: 30px;
    .logo {
      display: flex;
      justify-content: center;
        margin-bottom: 20px;
        img {
        // border-radius: 50%;
        width: 90px;
        height: 90px;
        object-fit: cover;
        object-position: 50% 50%;
        filter: drop-shadow(1rem 1rem 0rem $box-shadow);
        }
    }
    .signup-or-login__link {
        margin-top: 20px;
        a {
        &:hover {
            text-decoration: underline;
        }
        }
    }
  }
  &__header {
    margin-bottom: 2rem;
  }
}