@use "./variables" as *;
@use "./breakpoints" as *;

@mixin font($size, $height) {
    font-size: $size;
    line-height: $height;
}


h1 {
    @include font(
        clamp(2.5rem, 2rem + 2.5vw, 3.2rem), // Font size
        clamp(3.6rem, 3.314rem + 1.429vw, 4rem), // Line height
    );
    font-weight: 600;
    @include mid {
        font-weight: 700
    };
}

h2 {
    @include font(
        clamp(2rem, 1.714rem + 1.429vw, 2.4rem),
        clamp(2.8rem, 2.514rem + 1.429vw, 3.2rem),
    );
    font-weight: 600;
    @include mid {
        font-weight: 700
    };

}
button,
h3 {
    @include font(
        clamp(1.8rem, 1.514rem + 1.429vw, 2.2rem),
        clamp(2.0rem, 1.714rem + 1.429vw, 2.2rem),
    );
    font-weight: 600;
    @include mid {
        font-weight: 700
    };
}

h4 {
    @include font(
        clamp(1.1rem, 1.029rem + 0.357vw, 1.2rem),
        clamp(1.6rem, 1.457rem + 0.714vw, 1.8rem),
    );
    font-weight: 400;
    @include mid {
        font-weight: 500
    };
}

p {
    @include font(
        clamp(1.5rem, 1.429rem + 0.357vw, 1.6rem),
        clamp(2.6rem, 2.457rem + 0.714vw, 2.8rem),
    );
    font-weight: 400;
    @include mid {
        font-weight: 500
    };
}

span {
    color: var(--color-font);
    @include font(
        clamp(1.5rem, 1.429rem + 0.357vw, 1.6rem),
        clamp(2.6rem, 2.457rem + 0.714vw, 2.8rem),
    );
    font-weight: 400;
    @include mid {
        font-weight: 500
    };
}

ul,
li,
a,
input,
label {
    @include font(
        clamp(1.5rem, 1.429rem + 0.357vw, 1.6rem),
        clamp(2.6rem, 2.457rem + 0.714vw, 2.8rem),
    );
    font-weight: 400;
    @include mid {
        font-weight: 500
    };
}