@use './breakpoints'as *;
@use './typography'as *;
@use './variables' as *;
@use './font' as *;

html {
    font-size: 62.5%;
    box-sizing: border-box; 
}
* {
    margin:0;
    border:0;
    outline-width: 0;
    &:focus {         
        outline: none;
    }
    // color-scheme: light dark;
 }
*, 
*:before,
*:after {
    box-sizing: inherit;
}
body {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    place-items: center;
    font-size: 1.6rem; 
    width: 100%; 
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Jost', 'LongCang', 'Open Sans', sans-serif;
    // color: $black;
    background-color: $C-bg; 
    pointer-events: auto;
}
h1,
h2,
h3,
h4,
.p1,
.p2,
.p3,
ul,
li,
span,
a {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    // color: $C-black;
    text-align: left;
    color: $C-font;
}

textarea {
    resize: none;
}

input {

    margin-bottom: 1rem;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .15rem;
    width: 100%;
    border-radius: $border-radious;
    box-shadow: $inner-shadow;
    border: $border-thick solid $C-border;
    outline: none;
    background-repeat: no-repeat;
    background-position: 1rem 50%;
    font-size: clamp(1.4rem, 0.686rem + 3.571vw, 2.4rem);
    padding: clamp(0rem, -0.714rem + 3.571vw, 1rem) clamp(0rem, -2.143rem + 10.714vw, 3rem) clamp(0rem, -0.714rem + 3.571vw, 1rem);
    transition: .3s;
    &__container {
        width: 100%;
        display: flex;
    }
    &:active {
    border-color: $C-border-hover;
    }
    &:focus {
        border-color: $C-border-hover !important;
        outline: none;
    }
    @keyframes fadeInvalid {
        0%, 100% {
          border-color: $C-red;
          color: $C-red;
          opacity: 1;
        }
        50% {
          border-color: transparent;
          color: transparent;
          opacity: 0.5;
        }
      }
    &:invalid { 
        border-color: $C-red !important;
        outline: none;
        color: $C-red ;
        animation: fadeInvalid 1.5s infinite;
    }
    // &.error {
    //     border-color: $C-red;
    // } 
    &::placeholder {
        color: #bcbaba;
    }
}
button {
    display: flex;
    flex-direction: row;
    letter-spacing: clamp(0rem, -0.214rem + 1.071vw, 0.3rem);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 600;
    width: 100%;
    height: 5rem;
    border: $border-thick solid $C-border;
    border-radius: $btn-radius;
    background-color: $C-btn;
    color: $C-font;
    box-shadow: $btn-shadow;
    transition: border-color 0.3s;
    transition: background-color 0.3s;
    transition: transform 0.3s;
    margin-top: 2rem;
    &:hover {
      background-color: $C-btn-hover;
      border-color: $C-btn-hover;
      color: $C-btn;
      font-weight: 600;
      font-size: 110%;
      transform: scale(1.02);
    }
    &:active {
        border-color: $C-btn-active;
        background-color: $C-btn-active;

        font-size: 95%;
        transform: scale(.95);
    }
    // &:focus,
    // &:focus-visible {
    //   outline: 4px auto;
    // }
  }
a {
    &:hover {
      color: $C-font-hover;
    }
  }
img {
    max-width: 100%;
    display: block;
}
.user-thumbnail {
    width: 3.6rem;
    height: 3.6rem;
    min-width: 3.6rem;
    min-height: 3.6rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 15% 50%;
    background-color: $C-black;
    @include tablet {
        min-width: 4.8rem;
        height: 4.8rem;
    } 
    @include desktop {
        min-width: 4.8rem;
        height: 4.8rem;    
    } 
};
.logo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    img {
    width: 40px;
    height: 40px;
    // border-radius: 50%;
    // box-shadow: $box-shadow;
    transform-origin: 50% 50%;
    will-change: transform, filter; 
    animation: logo-spin infinite 20s linear; 
    transform: rotate(360deg);
    }
    &:hover {
      filter: drop-shadow(0 0 2rem #671458cc);
    }
    
    @keyframes logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    // box-shadow: $box-shadow;
    text-align: center;
    margin:0 clamp(1.6rem, 0.457rem + 5.714vw, 3.2rem);
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

// .grow {
//     transition: transform 1s;
//     will-change: scale;
//     &:hover {
//         transform: scale(1.2);
//       }
//   }
//   .fade {
//     opacity: 0.5;
//     transition: opacity 1s;
//     will-change: opacity;
//     &:hover {
//         opacity: 1;
//       }
//   }
// label {
//     margin-top: 1rem;
//     display: flex;
//     padding-left: 2rem;
// }
  
//   @media (prefers-color-scheme: dark) {
//     * {
//       color: $C-font_dark;
//       background-color: $C-bg_dark;
//     }
//     a:hover {
//       color: $C-font-hover_dark;
//     }
//     button {
//       background-color: $C-bg_dark;
//     }
//   }
