@mixin popup-styles {
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
    }
    &__modal {
      position: relative;
      z-index: 101;
    }
    &__popup {
      background-color: white;
      border: 1px solid #ccc;
      padding: 20px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      &__content {
        text-align: center;
        button {
          margin-top: 20px;
          cursor: pointer;
        }
      }
    }
    input {
      padding: 0 0 0 0;
    }
  }