@use './breakpoints'as *;
@use './typography'as *;
@use './variables' as *;
@use './font' as *;

@mixin popup-styles {
   
    &__modal {
      border-radius: 2rem;
      width: 50rem;
      display: flex;
      justify-content: center;
      background-color: $C-bg;
      border: 1px solid #ccc;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      position: relative;
      z-index: 101;
      padding: clamp(2.4rem, 1.543rem + 4.286vw, 3.6rem) clamp(1.6rem, 0.457rem + 5.714vw, 3.2rem);
      // padding: clamp(2.4rem, 1.543rem + 4.286vw, 3.6rem) 0;
      h1 {
        text-align: center;
        padding-bottom: 1rem;
      }
    }
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      width: 100%;
    }
    &__popup {
      
      &--content {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        // background-image: url(../../assets/images/old-paper.png);
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        box-shadow: $box-shadow;
        button {
          margin-top: 20px;
          cursor: pointer;
        }
      }
    }
    &__label {
      margin-top: 1rem;
      display: flex;
      padding-left: 2rem;
    }

}

