@mixin popup-styles {
   
    &__modal {
      border-radius: 2rem;
      width: 50rem;
      display: flex;
      justify-content: center;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      position: relative;
      z-index: 101;
      padding: clamp(2.4rem, 1.543rem + 4.286vw, 3.6rem) clamp(1.6rem, 0.457rem + 5.714vw, 3.2rem);
      h1 {
        text-align: center;
        padding-bottom: 1rem;
      }
    }
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      width: 100%;
    }
    &__popup {
      
      &__content {
        text-align: center;
        button {
          margin-top: 20px;
          cursor: pointer;
        }
      }
    }
    
  }