@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/font' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use "../../styles/partials/mixin" as *;

.user-page {
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
        display:flex;
        justify-content: center;
    }
}
.cat {
    &__all {
        position:relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    
        // Hover effect for the entire container
        &:hover {
            .cat__own {
                filter: drop-shadow(0 0.2rem 0.8rem $C-obj-cat-rimLight) brightness(130%);
                animation: rotate 0.5s ease-in-out infinite;
            }
            .cat__seat {
                animation: rotate-opposite 0.5s ease-in-out infinite;
                animation-delay: 0.3s; 
            }
        }
    }
    
    &__own {
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: 50% 90%;
        // position: relative;
        position: relative; 
        min-width: 200px;
        z-index: 1; 
    
        filter: none;
        transition: filter 0.3s ease-in-out;
        animation: none;
    
        @keyframes rotate {
            0% {
                transform: rotate(-0.5deg);
            }
            50% {
                transform: rotate(0.5deg);
            }
            100% {
                transform: rotate(-0.5deg);
            }
        }
    }
    
    &__seat {
        position: absolute; 
        transform-origin: 50% 50%;
        top: 195px;
        right: -28px;
        width: 250px;
        height: auto;
        object-fit: cover;
        z-index: 0; 
    
        filter: none;
        transition: filter 0.3s ease-in-out;
        animation: none;
        animation-delay: .15s;
    
        @keyframes rotate-opposite {
            0% {
                transform: rotate(0.2deg);
            }
            50% {
                transform: rotate(-0.2deg);
            }
            100% {
                transform: rotate(0.2deg);
            }
        }
    }
}
.cookies {
    &__all {

    }
    &__collect {
        position: relative;
    }
    &__collector {
        filter: contrast(.9) ;
        &:hover {
            filter: brightness(1.06);
            transform: scale(1.01);
        }
        &:active {
            transform: scale(.98);
        }

        &--title {
            font-weight: 800;
            position: absolute;
            transform: rotate(14deg);
            top: 15.5rem;
            left: 7rem;
        }
    }
}