@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/font' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use "../../styles/partials/mixin" as *;

.bazi-input {
    @include popup-styles;
    &__detail{
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__fields {
      width: 100%;
      max-width: 32rem;
      margin: auto;
    }
  }